/* styles.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: #6200ea;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

header h1 {
  color: white;
  font-size: 2rem;
}

main {
  margin: 20px;
  width: 100%;
  max-width: 600px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.treino-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.treino-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.treino-item:hover {
  background-color: #ececec;
}

/* Modais */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Mantém o layout flex */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  /* Estilos para transição */
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.ativo {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close,
.close-video,
.close-edicao {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#exerciciosLista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercicio-item {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#videoContainer {
  text-align: center;
}

#videoContainer img,
#videoContainer video,
#videoContainer iframe {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilização do modal de edição */
#modalEdicao .modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modalEdicao label {
  font-weight: bold;
  margin-bottom: 5px;
}

#modalEdicao input[type="text"],
#modalEdicao input[type="number"],
#modalEdicao textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#modalEdicao .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

#modalEdicao button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#modalEdicao button:first-of-type {
  background-color: #4caf50;
  color: white;
}

#modalEdicao button:last-of-type {
  background-color: #f44336;
  color: white;
}

@media (max-width: 600px) {
  #modalEdicao .modal-content {
    width: 95%;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
